@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  background: #011a0e;
  font-size: 14px;
  letter-spacing: -0.6px;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #bf7b56;
  border: 2px solid black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
